/* form */
@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');
*{font-family: 'Sintony', sans-serif;}
.form{
  margin:100px auto;
  padding:20px 0px 40px;
  position:relative
}
.form::after{
content:"";
display:block;
position:absolute;
top:0;
right:0;
width:50%;
height:100%;
background-color:#f1f1f1f1;
z-index:-1;
}

