/* form */
@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');
@import url("https://cdn.lineicons.com/3.0/lineicons.css");
*{font-family: 'Sintony', sans-serif;}
.space-between{justify-content: space-between;}
:root {
  --color-beige-100: #FFF0E5;
  --color-blue-0: #F5FCFF;
  --color-blue-300: #66C4FF;
  --color-blue-400: #3388FF;
  --color-blue-500: #1557FF;
  --color-blue-800: #1D2340;
  --color-navy-100: #F3F3F5;
  --color-navy-200: #DBDCE0;
  --color-navy-300: #C3C5CB;
  --color-navy-400: #9FA2AC;
  --color-navy-500: #707382;
  --color-navy-600: #585C6D;
  --color-navy-700: #34394C;
  --color-navy-800: #10162F;
  --color-navy-900: #0A0D1C;
  --color-green-0: #F5FFE3;
  --color-green-400: #AEE938;
  --color-green-700: #008A27;
  --color-yellow-0: #FFFAE5;
  --color-yellow-400: #CCA900;
  --color-yellow-500: #FFD300;
  --color-pink-0: #FFF5FF;
  --color-pink-400: #F966FF;
  --color-red-0: #E85D7F;
  --color-red-100: #DC5879;
  --color-red-500: #E91C11;
  --color-red-600: #BE1809;
  --color-orange-500: #FF8C00;
  --color-hyper-400: #5533FF;
  --color-hyper-500: #3A10E5;
  --color-gray-100: #F5F5F5;
  --color-gray-200: #EEEEEE;
  --color-gray-300: #E0E0E0;
  --color-gray-600: #9E9E9E;
  --color-gray-800: #616161;
  --color-gray-900: #424242;
  --color-shadow-black-slight: rgba(0,0,0,0.15);
  --color-shadow-black-heavy: rgba(0,0,0,0.75);
  --color-shadow-white-slight: rgba(255,255,255,0.15);
  --color-shadow-white-heavy: rgba(255,255,255,0.95);
  --color-beige: #FFF0E5;
  --color-blue: #1557FF;
  --color-green: #008A27;
  --color-hyper: #3A10E5;
  --color-lightBlue: #66C4FF;
  --color-lightGreen: #AEE938;
  --color-navy: #10162F;
  --color-orange: #FF8C00;
  --color-paleBlue: #F5FCFF;
  --color-paleGreen: #F5FFE3;
  --color-palePink: #FFF5FF;
  --color-paleYellow: #FFFAE5;
  --color-pink: #F966FF;
  --color-paleRed: #DC5879;
  --color-red: #E91C11;
  --color-yellow: #FFD300;
  --color-black: #000000;
  --color-white: #ffffff;
  --elements-headerHeight: 4rem;
  --elements-headerZ: 15;
}
.min-vh{min-height: 100vh;}
.navy{background-color: var(--color-navy-800);}
.navy-light{background-color: var(--color-navy-700);}
.text-navy{color: var(--color-navy-800);}
.navy-left{border-left: 5px solid var(--color-navy-800);}
.navy-bottom{border-bottom: 5px solid var(--color-navy-800);}
.default{
  box-sizing: border-box;
  box-shadow: 0px 20px 40px 0px rgba(255,255,255,0.15);
}
/* design */
.box{
border: 2px solid #E3E6E8;
height: 50px;
width: 50px;
position: absolute;
animation: Anime 10s ease-in infinite;
}
.loader{
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50% ,-50%);
font-size: xx-large;
height: 100px;
width: 100px;
border-left: 10px solid #E3E6E8;
border-top: 10px solid #E3E6E8;
border-radius: 50%;
animation: Loader 1s ease-in infinite;
/* box-shadow: 0px 10px 20px 0px rgba(225,225,225,0.5); */
}

.d1{
  top: 100px;
  right: 150px;
}
.d2{
  top: 200px;
  right: 100px;
}
.d3{
  top: 300px;
  right: 200px;
}
.d4{
  top: 400px;
  right: 300px;
}
.d5{
  top: 500px;
  right: 200px;
}

@keyframes Anime {
  20%{
    opacity: 0;
    
  }
  40%{
    transform: rotate(180deg);
  }
}
@keyframes Loader {
from{
  transform: rotate(0deg);
}
to{
  transform: rotate(360deg);
}
}
.form{
  min-width: 250px;
  width: 100%;
  margin:10px auto;
  padding:20px 0px 40px;
  position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.form::after{
content:"";
display:block;
position:absolute;
top:0;
right:0;
width:50%;
height:100%;
background-color:#f1f1f1f1;
z-index:-1;
}

.design{
  position:relative
}
.design::after{
content:"";
display:block;
position:absolute;
top:0;
right:0;
width:50%;
height:100%;
background-color:#f1f1f1f1;
z-index:-1;
}
/* middle */
.middle-items{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* navbar and sidebar && content */
Link a{
  color: black;
  padding: 0;
  margin: 0;
}
.sideBar{
  position: fixed;
  top: 70px;
  left: 10px;
  height: 80vh;
  min-height: 100vh;
  width: 20%;
  z-index: 5;
  color: #fff2f2;
  overflow: auto;
  transition: 0.1s ease-in-out;
}
.sideBar{color: #fff2f2;}
.sideTrigger{
  display: none;
}
.Content{
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  padding-top: 100px;

}

.fixed-top{width: 100%;left: 0;}
@media (max-width : 1000px){
  .sideBar{
    top: 0;
    left: 0;
    /* width: 300px; */
    height: 100vh;
  }
  .resnav{
    top: 0;
    left: 0;
  }
  .sideTrigger{
    display: block;
  }
  .Content{
    position: relative;
    width: 100%;
  }
  .fixed-top{width: 100%;}
}
/* Sidebar and links */
.sideLink{transition: 0.3s ease-in;cursor: pointer;padding: 10px;}
.sideLink:hover {background-color: var(--color-navy-700);color: whitesmoke;}
/* animate bg */


@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}
